# Copier vers application-local.properties (non versionné) et renseigner le mot de passe.
# spring.profiles.active=local est déjà défini dans application.properties

spring.datasource.password=VOTRE_MOT_DE_PASSE
